@import "tailwindcss";

:root {
  --background: #ebebed;
  --foreground: #030314;
}

@theme inline {
  --color-black: var(--foreground);
}

@theme {
  --color-accent: #2828ed;
  --color-accent-disabled: #b7b7c7;

  --color-danger: #c70e2c;

  --color-elembg: #f6f6f9;

  --color-neutral-*: initial;
  --color-neutral-50: #ebebed;
  --color-neutral-100: #dedee0;
  --color-neutral-200: #c1c1c7;
  --color-neutral-300: #64647a;

  --color-white: #fbfbfe;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
